#root {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#view {
    display: flex;
    flex-direction: row;

    flex: 1;

    * {
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

#sidebar {
    position: relative;
    width: 1.5em;

    fieldset {
        margin-bottom: 2em;
    }

    .expand-button {
        position: absolute;
        margin: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        transition-property: background-color;

        &:not(:hover):not(:active):not(:focus) {
            background: var(--primary);
        }

        & > span {
            display: block;
            position: absolute;
            top: 0.35em;
            width: 100%;
            height: 0.5em;
            font-size: 3em;
            line-height: 0.5em;
        }

        &:active {
            transform: none;

            & > span {
                transform: translateX(10%);
                transition: transform linear 50ms;
            }
        }
    }

    .panel {
        position: absolute;
        top: 0;
        left: 1.5em;
        box-sizing: border-box;
        width: 20em;
        height: 100%;
        padding: 0.75em 1em;
        background-color: var(--primary);
    }

    &.collapsed {
        .expand-button {
            transform: scaleX(-1);
        }

        .panel {
            transform: translateX(-20em);
        }
    }

    &:not(.collapsed) + #view {
        transform: translateX(20em);
    }
    
    .source {
        display: flex;
        flex-direction: row;

        & > input[type=text] {
            flex: 1;
        }

        & > button {
            margin-left: 0.25rem;
        }
    }
}

input[type=text].invisible {
    border: 0;
    width: 100%;
    padding: 0;

    &:focus {
        outline: 0;
    }
}

.link-button > span {
    display: inline-block;
    position: relative;
    line-height: 0;
    height: 0;
}

.delete-button > span {
    top: 0.2rem;
    font-size: 2rem;
}

.reload-button > span {
    font-size: 1.25em;
    font-weight: 200;
}

.column header,
.card .info {
    .delete-button {
        position: absolute;
        top: 0.1em;;
        right: 0;
        margin: 0;
        width: 2em;
        height: 2em;
        padding: 0 0 0.25em;

        opacity: 0;
    
        &:focus {
            opacity: 1;
        }
    }

    &:hover {
        .delete-button {
            opacity: 1;
        }
    }
}

.column {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    width: 14em;

    header {
        position: relative;
        padding: 0 1.5em;
    }
}

.card-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    flex: 1;
    margin: -0.25em 0;
    margin-right: -2em;
}

.card {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0.25em 0.5em;
    width: 14em;

    .info {
        position: relative;
        padding: 0.5em 1em 1.5em;

        table {
            width: 100%;
            table-layout: fixed;
            border-collapse: collapse;
        }
        td {
            vertical-align: baseline;
            padding: 0;
    
            &:last-of-type:not(:first-of-type) {
                text-align: right;
            }
        }
    }
}

.gutter {
    flex: 1;
}