#root {
    font-size: 14px;
    display: flex;
    flex-direction: row;
}

#view {
    display: flex;
    flex-direction: row;

    flex: 1;

    * {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

input[type=text].invisible {
    border: 0;
    width: 100%;
    padding: 0;

    &:focus {
        outline: 0;
    }
}

.delete-button {
    display: block;
    position: absolute;
    top: 1px;
    right: 0.25em;
    margin: 0;
    border: 0;
    width: 1em;
    height: 1em;
    line-height: 1em;
    padding: 0;
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    background: none;

    &:enabled:focus {
        outline: 0;
        opacity: 1;
    }
}

.column header,
.card .info {
    .delete-button {
        opacity: 0;
    }

    &:hover {
        .delete-button {
            opacity: 1;
        }
    }
}

.column {
    display: flex;
    flex-direction: column;

    width: 14rem;

    header {
        position: relative;
        padding: 0 1.5em;
    }

    &:hover {
        background-color: #dddddd;
    }
}

.card-container {
    display: flex;
    flex-direction: column;

    flex: 1;
    margin: -0.25em 0;
}

.card {
    padding: 0.25em 0.5em;

    .info {
        position: relative;
        padding: 0.5em 1em 1.5em;

        table {
            width: 100%;
            table-layout: fixed;
            border-collapse: collapse;
        }
        td {
            vertical-align: baseline;
            padding: 0;
    
            &:last-of-type:not(:first-of-type) {
                text-align: right;
            }
        }
    }
}

.gutter {
    flex: 1;
}